*{
			margin: 0;
			padding: 0;
		}
		body{background-color: #202020;
			background-image: url("Sousei no Onmyouji.jpg");
			background-repeat: no-repeat;
			background-size: 100%;
			background-attachment: fixed;
		}
		#foto_catastrofe div{
			margin: auto;
		}

		#foto_catastrofe{
			float: left;
            
			margin-top: 5px;
			margin-right: 10px;
		}
		#começando div{
			/*display: flex;*/
			background-color: rgba(125 ,67 ,181 ,0.7);
			padding: 40px;
			margin: 40px;
			/*opacity: 0.5;*/ 
		}
		.par_group{
			margin: 20px
		}
		#Novo{
			margin: auto;
		}

	p{text-align: center;
		word-spacing: 5px;
	color:purple;
	padding: 10px;

	font-family: 'Lobster', cursive;}

	h1{text-align: center;
		color: purple;
		/*display: inline;*/
	}


    h2{text-align: center;
    color:purple;
margin: 20px
}

    header{
    border-bottom:5px groove #8B2424;

     /*padding: 20px;*/
     margin: 20px;
       height: 70px;
      width: 100%;
    }
